{% extends "base.html.twig" %}
{% block title %}Bienvenue Chauffeur{% endblock %}

{% block body %}

{{form(form)}}

{{form_start(form)}}
<button type="submit">Enregister</button>
{{form_end(form)}}
{% endblock %}