 
{% extends "base.html.twig" %}

{% block title %}
<h2> Modifier de chauffeur</h2>
    
{% endblock %}

{% block body %}
    <h2> Mise à jour des informations d'une chauffeur</h2>
    {{form_start(formulaire)}}
    {{form_widget(formulaire)}}
        <button type="submit" > Modifier</button>
    {{form_end(formulaire)}}

{% endblock %}
