 
{% extends "base.html.twig" %}

{% block title %}
<h2> Modifier de chauffechauffeur</h2>
    
{% endblock %}

{% block body %}
    <h2> Misa a jour les inforations d'une chauffeur</h2>
    {{form_start(formulaire)}}
    {{form_widget(formulaire)}}
        <button type="submit" > Modifier</button>
    {{form_end(formulaire)}}
    
{% endblock %}
