{% extends "base.html.twig" %}

{% block title%}

     Ajouter une nouvelle voiture

{% endblock title%}

{% block body %}
    <h2> Ajout d'une nouvelle voiture</h2>
    
    
    {{form_start(formulaire)}}
    {{form_widget(formulaire)}}    
        <button type="submit" > Creer</button>
    {{form_end(formulaire)}}
    
    
    
{% endblock %}
